html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #a3b6c2;
  color: #b9d1df;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
